@import './variables.scss';

.cardImage {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.card {
  min-width: 400px;
  min-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardLangs {
  display: flex;
  flex-direction: row;
}
