@import './variables.scss';

#chat-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0px;
  width: 100vw;
  height: 10vh;
  align-items: flex-end;
  padding-bottom: 20px;

  .chatbox-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: $title-font;
    color: $brown;
    font-size: 2rem;
  }
  .chat-img {
    border-radius: 50%;
    width: 50px;
    height: auto;
    bottom: 0px;
  }
  .chat-btn {
    display: flex;
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 5px;
    background-color: aliceblue;
    vertical-align: middle;
    font-size: 20px;
    margin: 10px;
    z-index: 1;
  }
  .chatbox {
    width: 350px;
    margin: 5px;
    .chatbox-chat {
      display: grid;
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
      height: 600px;
      background-color: white;
      width: 350px;
    }
    .input-div {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      bottom: 0px;
      input {
        height: 20px;
      }
    }
    .msg-input{
      background-color: darken($white, 3);
      border: none;
      font-family: $body-font;
      border-radius: 20px;
      width: 60%;
      height: 50px;
      padding: 5px 20px;
      margin-right: 10px;

    }
    .msg-btn{
      background-color: lighten($blue, 20);
      border: none;
      color: $white;
      font-family: $body-font;
      border-radius: 20px;
      width: 25%;
      height: 30px;
      margin-right: 10px;
    }
    .messages {
      height: 500px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }
  }
}

.single-message-user {
  background-color: $lightmauve;
  font-family: $body-font;
  border-radius: 20px;
  align-self: flex-end;
  width: fit-content;
  padding: 5px 20px;
  margin-left: 10px;
}

.single-message-friend {
  background-color: lighten($green, 35);
  font-family: $body-font;
  border-radius: 20px;
  width: fit-content;
  padding: 5px 20px;
  margin-left: 10px;
}

.chatbox-mini {
  display: grid;
  position: relative;
  margin: 10px;
  bottom: 0px;
  .chat-btn-mini {
    background-color: black;
    display: flex;
    position: absolute;
    width: 10px;
    height: 10px;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 5px;
    color: white;
    vertical-align: middle;
    font-size: 10px;
    z-index: 1;
    border-radius: 50%;
    top: -5px;
    right: -10px;
  }
}
