@import './variables.scss';

#navbar {
  display: grid;
  height: 7vh;
  grid-template-columns: 20% auto minmax(30%, 350px);
  background-color: darken($white, 5);
}

#left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-title {
  font-family: $title-font;
  font-size: 2em;
}

#right-nav {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#links-container {
  width: 100%;
}

#login-container {
 width: 85%;
 display: flex;
 justify-content: flex-end;
}

#all-links {
  width: 100%;
  display: flex; 
  justify-content: space-evenly;
}

.nav-links {
  font-family: $body-font;
}